:root{
    --red: #e84545;
    --theme_color: #37828d;
    --subTheme_color: #47be7e;
    --textColor: #353535;
    --subTextColor: #ccc;
    --header_height: 145px;
    --headerMain_height: 80px;
    --headerNav_height: calc(var(--header_height) - var(--headerMain_height));
}

*{   
    /* ke thua box-sizing tu the html */
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 16px;
    line-height: 16px;
    
    /* add font roboto, trong truong hop roboto k dc ap dung 
    thi se ap dung kieu font sans-serif la kieu khong chan */
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

/* dau gach phan cach */
.item__separate{
    width: 1px;
    height: 14px;
    background-color: black;
    margin: 0 8px;
}

/* Animation */
@keyframes fadeOut__nav{
    from {
        transform: scale(1);
    }to{
        transform: scale(1.1);
    }
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes growth {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes backTopIn{
    from{
        opacity: 0;
        bottom: 20px;
    }to{
        opacity: 1;
        bottom: 40px;
    }
}

@keyframes backTopOut{
    from{
        opacity: 1;
        bottom: 40px;
    }to{
        opacity: 0;
        bottom: 20px;
    }
}


