:root{
    --textColor: #353535;
    --subTextColor: #ccc;
    --header_height: 145px;
    --headerMain_height: 80px;
    --headerNav_height: calc(var(--header_height) - var(--headerMain_height));
}

body{
    margin: 0;
    
}
html{
    box-sizing: border-box;
    font-size: 16px;
    line-height: 16px;

    /* add font roboto, trong truong hop roboto k dc ap dung 
    thi se ap dung kieu font sans-serif la kieu khong chan */
    font-family: 'Roboto', sans-serif;
}
