/* header */
.header__wrapper{
    height: var(--header_height);
}

.header__main{
    height: var(--headerMain_height);
    background-color: white;
    display: flex;
    align-items: center;
}

.header__nav{
    height: var(--headerNav_height);
    background-color: rgb(160, 63, 63);
}

.header__logo{
    height: 54px;
    margin-right: 30px;
}

/* search */
.header__search{
    display: flex;
}

.search__input input,
.search__buttom button{
    height: 44px;
    padding: 10px;
    outline: none;
    font-size: 14px;
}

.search__input input{
    border: 2px solid rgb(36 167 140);
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.search__input input:focus{
    border-color: rgb(45 195 164);
}

.search__buttom button{
    border: none;
    border-radius: 0 4px 4px 0;
    color: white;
    background-image: linear-gradient(0, rgb(71 190 126), rgb(55 130 141));
}

.search__buttom button:hover{
    opacity: 80%;
    cursor: pointer;
}